            <table class="pr-table">
                <thead>
                    <tr>
                        <th rowspan="2">শ্রেণি</th>
                        <th colspan="3" class="grp-registered">নিবন্ধিত শিক্ষার্থী</th>
                        <th colspan="3" class="grp-attendance">পরীক্ষার বিবরণ (উপস্থিত)</th>
                    </tr>
                    <tr>
                        <th class="grp-registered">স্কুল</th><th class="grp-registered">মাদ্রাসা</th><th class="grp-registered">মোট</th>
                        <th class="grp-attendance">স্কুল</th><th class="grp-attendance">মাদ্রাসা</th><th class="grp-attendance">মোট</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cls in row.classes %}
                    <tr>
                        <td class="row-label">{{ cls.class_name }}</td>
                        <td>{{ cls.registered.school }}</td><td>{{ cls.registered.madrasha }}</td><td>{{ cls.registered.total }}</td>
                        <td>{{ cls.attendance.school }}</td><td>{{ cls.attendance.madrasha }}</td><td>{{ cls.attendance.total }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="total-row">
                        <td class="row-label">সর্বমোট</td>
                        <td>{{ row.registered_total.school }}</td><td>{{ row.registered_total.madrasha }}</td><td>{{ row.registered_total.total }}</td>
                        <td>{{ row.attendance_total.school }}</td><td>{{ row.attendance_total.madrasha }}</td><td>{{ row.attendance_total.total }}</td>
                    </tr>
                </tbody>
            </table>
